* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #333;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 70px;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  margin: 20px auto;
  width: 720px;
  grid-area: 1 / 1 / 2 / -1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2%;
  padding: 1rem 2rem;
  width: 100%;
  height: 240px;
  background: linear-gradient(#7125ff, #25deff);
}

video {
  grid-area: 1 / 1 / -1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.footer__border {
  height: 5px;
  background: linear-gradient(90deg, #ff25be, #25ffab);
}

.footer {
  background-color: rgb(247, 247, 247);
  grid-area: 2 / 1 / -1 / 1;
  height: 100%;
}

.footer_content {
  text-align: center;
  margin: 0 auto;
}
